<!DOCTYPE html>
<html lang="en">

<head>
	<title>Wishes</title>
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<!-- custom -->
	<script src="wishes.js" type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="css/wishes.css">
</head>

<body>
	{{{ body }}}
</body>

</html>
